[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
jupyter = "*"
pydotplus = "*"
tensorflow-gpu = "*"
matplotlib = "*"
pandas = "*"
sklearn = "*"

[requires]
python_version = "3.7.0"
